.App {
  background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.dark {
  background: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}
header {
  display: flex;
  justify-content: flex-end;
}
.change-theme {
  background: none;
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.sun-color,
.moon-color {
  width: 40px;
}
.hidden {
  display: none;
}

footer {
  background:  rgba(255, 255, 255, 0.9);
  padding: 10px;
  
  color:gray
}
footer a{
  color: gray;
}