.Phonetic{
    background: rgba(255, 255, 255, 0.9);
    margin: 50px auto;
    width: 60%;
    border-radius: 20px;
    padding: 15px;
}
span{
    margin-left: 20px;
}
.pointer{
    cursor: pointer;
}
audio{
    display: none;
}